/*
 * Copyright (c) 2021 Henrik Brix Andersen <henrik@brixandersen.dk>
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/gpio/gpio.h>

/ {
        aliases {
                eeprom-0 = &eeprom0;
                eeprom-1 = &eeprom1;
        };
};

&arduino_i2c {
	status = "okay";

	eeprom0: eeprom@57 {
		compatible = "atmel,at24";
		reg = <0x57>;
                size = <32768>;
                pagesize = <64>;
                address-width = <16>;
		timeout = <5>;
                /* wp-gpios = <&arduino_header 14 GPIO_INT_ACTIVE_HIGH>; */
	};
};

&arduino_spi {
	status = "okay";

	eeprom1: eeprom@0 {
		compatible = "atmel,at25";
		reg = <0x0>;
                spi-max-frequency = <1000000>;
                size = <256>;
                pagesize = <16>;
                address-width = <8>;
		timeout = <5>;
                /* wp-gpios = <&arduino_header 15 GPIO_INT_ACTIVE_LOW>; */
	};
};
